name: Update dependencies

on:
  pull_request:
    paths:
      - '.github/workflows/update-dependencies.yml'
  workflow_dispatch:
  schedule:
    - cron: '0 18 * * 5'  # "At 18:00 on Friday."

env:
  FORCE_COLOR: '1'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions: {}

jobs:
  update-dependencies:
    name: Update dependencies
    permissions:
      contents: write  # needed to create new branch
      pull-requests: write  # needed to create PR for the new branch
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - uses: wntrblm/nox@0eee2e45758dbd06d48ebb23476439f0f00e5cbd # 2025.11.12
      with:
        python-versions: "3.12"
    - name: "Install uv"
      run: pipx install uv
    - name: "Setup bot user"
      run: |
        git config --global user.name "manylinux-bot[bot]"
        git config --global user.email "89297709+manylinux-bot[bot]@users.noreply.github.com"
    # we use this step to grab a Github App auth token, so that lastversion can query GitHub API
    # without rate-limit and PRs get run by GHA.
    - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
      id: generate-token
      if: github.ref == 'refs/heads/main' && github.repository == 'pypa/manylinux'
      with:
        app-id: ${{ secrets.MANYLINUX_BOT_APP_ID }}
        private-key: ${{ secrets.MANYLINUX_BOT_APP_PRIVATE_KEY }}
    - name: "Run update native dependencies"
      run: nox -s update_native_dependencies
      env:
        GITHUB_API_TOKEN: ${{ steps.generate-token.outputs.token || github.token }}
    - name: "Run update downloaded interpreters"
      run: nox -s update_interpreters_download
    - name: "Run update python dependencies"
      run: nox -s update_python_dependencies
    - name: Create Pull Request
      if: github.ref == 'refs/heads/main' && github.repository == 'pypa/manylinux'
      uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
      with:
        commit-message: Update python dependencies
        title: '[Bot] Update dependencies'
        body: |
          Update the versions of our dependencies.

          PR generated by "Update dependencies" [workflow](https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}).
        branch: update-dependencies-pr
        sign-commits: true
        token: ${{ steps.generate-token.outputs.token }}
        delete-branch: true
